In [1]:
import pandas as pd

df_wine = pd.read_csv('./python-machine-learning-book-2nd-edition-master/code/ch04/wine.data')
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                   'Proline']
df_wine.head()

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df_wine.iloc[:,1:].values
y = df_wine.iloc[:,0].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1,stratify=y)

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

In [3]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(penalty='l1', C=1.0)

lr.fit(X_train_std, y_train)

print('Training accuracy:', lr.score(X_train_std, y_train))

print('Test accuracy:', lr.score(X_test_std, y_test))

print(lr.get_params())

Training accuracy: 1.0
Test accuracy: 0.9814814814814815
{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'max_iter': 100, 'multi_class': 'ovr', 'n_jobs': 1, 'penalty': 'l1', 'random_state': None, 'solver': 'liblinear', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

In [4]:
pd.DataFrame(lr.coef_)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.469475,0.000000,0.516613,-1.311058,0.000000,0.0,1.236415,0.000000,0.000000,0.000000,0.000000,0.692596,2.166143
1,-1.855494,-0.315059,-1.182608,0.688718,-0.154527,0.0,0.606699,0.000000,0.152748,-1.207754,1.252969,0.000000,-2.052636
2,0.000000,0.225974,0.573928,0.000000,0.121991,0.0,-2.561774,-0.138704,0.000000,1.625225,-0.902671,-0.396439,0.000000

In [5]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(penalty='l1', C=1.0, multi_class='multinomial', solver='saga', max_iter=1000)
#'if mulinomial'= not OvA , then solver shoud be 'saga' and max_iter shoud be increase

lr.fit(X_train_std, y_train)

print('Training accuracy:', lr.score(X_train_std, y_train))

print('Test accuracy:', lr.score(X_test_std, y_test))

pd.DataFrame(lr.coef_)
pd.DataFrame(lr.predict_proba(X_train_std))

Training accuracy: 1.0
Test accuracy: 0.9814814814814815

            0         1         2
0    0.846521  0.129568  0.023911
1    0.000793  0.996193  0.003014
2    0.007960  0.075680  0.916360
3    0.010497  0.958225  0.031277
4    0.999842  0.000018  0.000140
5    0.000931  0.002315  0.996753
6    0.005704  0.004269  0.990027
7    0.979899  0.012161  0.007940
8    0.924610  0.063207  0.012184
9    0.948808  0.048432  0.002760
10   0.001831  0.998051  0.000118
11   0.036883  0.900581  0.062536
12   0.002617  0.002255  0.995128
13   0.001502  0.998356  0.000141
14   0.002506  0.006482  0.991012
15   0.001627  0.997689  0.000684
16   0.006720  0.993218  0.000062
17   0.899986  0.092295  0.007719
18   0.000288  0.999700  0.000011
19   0.003894  0.004692  0.991413
20   0.001875  0.068461  0.929664
21   0.044714  0.954905  0.000380
22   0.032033  0.009293  0.958674
23   0.034702  0.052391  0.912907
24   0.021374  0.976265  0.002361
25   0.000357  0.999099  0.000544
26   0.006578  0.001130  0.992292
27   0.004571  0.002149  0.993280
28   0.970820  0.028235  0.000945
29   0.962258  0.028890  0.008852
..        ...       ...       ...
93   0.104352  0.891886  0.003762
94   0.036833  0.031475  0.931691
95   0.984452  0.015357  0.000191
96   0.998480  0.001200  0.000320
97   0.001065  0.998478  0.000457
98   0.001038  0.998278  0.000684
99   0.022373  0.976246  0.001382
100  0.007918  0.000790  0.991292
101  0.006966  0.000491  0.992542
102  0.004187  0.992497  0.003316
103  0.000865  0.998652  0.000483
104  0.012033  0.117274  0.870693
105  0.019718  0.004944  0.975338
106  0.006923  0.988683  0.004394
107  0.988351  0.006618  0.005032
108  0.009351  0.020577  0.970072
109  0.989938  0.007619  0.002443
110  0.025505  0.974481  0.000014
111  0.004188  0.994547  0.001265
112  0.014082  0.985071  0.000848
113  0.002613  0.995866  0.001521
114  0.999498  0.000439  0.000063
115  0.997237  0.002145  0.000618
116  0.994593  0.002205  0.003202
117  0.009113  0.990084  0.000804
118  0.010549  0.988048  0.001403
119  0.032496  0.908268  0.059236
120  0.998414  0.000871  0.000715
121  0.003105  0.995540  0.001356
122  0.007654  0.013568  0.978778

[123 rows x 3 columns]